<header class="${ require('../../../conf').prefix }-header">
    <div class="container-fluid">
        <div class="flex-row align-items-center justify-content-between">

            <div class="flex-col-12 flex-col-md-auto">
                <div class="flex-row align-items-center">
                    <div class="flex-col-auto">
                        <a class="${ require('../../../conf').prefix }-logo"
                                                  href="${ require('../../../conf').BASE_URL }">
                        <img
                                class="img-responsive"
                                src="../../assets/images/logo.svg"
                                alt="${ require('../../../conf').name }">
                    </a>
                    </div>
                    <div class="flex-col visible-xs visible-sm position-static">
                        <div class="${ require('../../../conf').prefix }-search--mobile">
                            <form class="${ require('../../../conf').prefix }-search--form h-100 m-0" action="https://www.visitroanokeva.com/search/">
                                <div class="form-group mb-0 w-100">
                                    <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control" placeholder="Search">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="${ require('../../../conf').prefix }-search--mobilebtn"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="flex-col-auto ml-auto px-0">
                        <button class="${ require('../../../conf').prefix }-btn--search wbv-btn--purple" type="button">
                            <img class="img-responsive" src="../../assets/images/search-new.svg" alt="Search"><span>SEARCH</span>
                        </button>
                    </div>
                    <div class="flex-col-auto px-0">
                        <button type="button"
                                class="navbar-toggler navbar_toggler visible-xs visible-sm"
                                data-toggle="collapse"
                                data-target="#navBar"
                                aria-expanded="false">
                            <i class="icon-hamburger"></i>
                            <span>MENU</span>
                        </button>
                    </div>

                </div>

            </div>
            <div class="flex-col-12 flex-col-md position-static">
                <div class="flex-row">
                    <div class="flex-col position-static ml-auto">
                        <div class="${ require('../../../conf').prefix }-header--right collapse navbar-collapse" id="navBar">
                            <div class="flex-row">
                                <div class="flex-col-md-auto order-2 order-md-1">
                                    <nav class="${ require('../../../conf').prefix }-header--rightTop">
                                        <div class="flex-row align-items-center">
                                            <div class="flex-col-md-auto">
                                                <ul class="${ require('../../../conf').prefix }-main--navTop m-0 p-0">
                                                    <li><a href="${ require('../../../conf').BASE_URL }/meetings/" target="_blank">Meetings</a>
                                                    </li>
                                                    <li><a href="${ require('../../../conf').BASE_URL }/sports/"
                                                           target="_blank">Sports</a></li>
                                                    <li><a href="${ require('../../../conf').BASE_URL }/group-tours/" target="_blank">Groups</a>
                                                    </li>
                                                    <li><a href="${ require('../../../conf').BASE_URL }/weddings/" target="_blank">Weddings</a>
                                                    </li>
                                                    <li><a href="${ require('../../../conf').BASE_URL }/media/"
                                                           target="_blank">Media</a></li>
                                                    <li><a href="${ require('../../../conf').BASE_URL }/blog/" target="_blank">Blog</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="flex-col-auto hidden-xs hidden-sm pl-0">
                                                <ul class="${ require('../../../conf').prefix }-header--social m-0 p-0">
                                                    <li><a href="https://www.facebook.com/visitvbr" target="_blank"><i
                                                            class="icon-facebook"></i></a></li>
                                                    <li>
                                                        <a href="https://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=visitvbr"
                                                           target="_blank"><i class="icon-twitter"></i></a></li>
                                                    <li>
                                                        <a href="https://www.linkedin.com/company/roanoke-valley-convention-and-visitors-bureau"
                                                           target="_blank"><i class="icon-linkedin"></i></a></li>
                                                    <li><a href="https://www.pinterest.com/vablueridge/" target="_blank"><i
                                                            class="icon-pinterest"></i></a></li>
                                                    <li><a href="https://www.instagram.com/visitvbr/" target="_blank"><i
                                                            class="icon-instagram"></i></a></li>
                                                    <li><a href="https://www.youtube.com/channel/UCFU_Du1m5pDhAsu65POaKbw"
                                                           target="_blank"><i class="icon-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </nav>
                                </div>
                                <div class="flex-col-md-auto order-1 order-md-2">
                                    <nav class="${ require('../../../conf').prefix }-header--rightBot">
                                        <div class="flex-row">
                                            <div class="flex-col-md-auto">
                                                <ul class="${ require('../../../conf').prefix }-main--navBot m-0 p-0">
                                                    <li>
                                                        <a class="main-links"
                                                           href="${ require('../../../conf').BASE_URL }/things-to-do/"
                                                           target="_blank"
                                                           title="Explore">Things To Do</a>
                                                    </li>
                                                    <li>
                                                        <a class="main-links"
                                                           href="${ require('../../../conf').BASE_URL }/hotels-lodging/"
                                                           target="_blank"
                                                           title="Play">Hotels/lodging</a>
                                                    </li>
                                                    <li>
                                                        <a class="main-links"
                                                           href="${ require('../../../conf').BASE_URL }/restaurants/"
                                                           target="_blank"
                                                           title="Eat">Restaurants</a>
                                                    </li>
                                                    <li>
                                                        <a class="main-links"
                                                           href="${ require('../../../conf').BASE_URL }/region/"
                                                           target="_blank"
                                                           title="Stay">Region</a>
                                                    </li>
                                                    <li>
                                                        <a id="last-item-main-links"
                                                           class="main-links"
                                                           href="${ require('../../../conf').BASE_URL }/plan/"
                                                           target="_blank"
                                                           title="Deals">plan</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="flex-col-12 flex-col-md-auto hidden-xs hidden-sm">
                                                <form class="${ require('../../../conf').prefix }-search--form m-0" action="https://www.visitroanokeva.com/search/">
                                                    <div class="form-group mb-0">
                                                        <input class="form-control" name="q" type="text" placeholder="Search" id="txtSearch">
                                                        <button type="submit" id="btnSrcSubmit"></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </nav>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
